<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>signin.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewReimbursementServlet</servlet-name>
  	<display-name>NewReimbursementServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.NewReimbursementServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowPendingServlet</servlet-name>
  	<display-name>ShowPendingServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ShowPendingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowResolvedServlet</servlet-name>
  	<display-name>ShowResolvedServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ShowResolvedServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeViewInfoServlet</servlet-name>
  	<display-name>EmployeeViewInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.EmployeeViewInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeUsernameServlet</servlet-name>
  	<display-name>EmployeeUsernameServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.EmployeeUsernameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeePasswordServlet</servlet-name>
  	<display-name>EmployeePasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.EmployeePasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagingServlet</servlet-name>
  	<display-name>ManagingServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ManagingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOneServlet</servlet-name>
  	<display-name>ViewOneServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ViewOneServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPendingServlet</servlet-name>
  	<display-name>ViewPendingServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ViewPendingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewResolvedServlet</servlet-name>
  	<display-name>ViewResolvedServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ViewResolvedServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerViewInfoServlet</servlet-name>
  	<display-name>ManagerViewInfoServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ManagerViewInfoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerUsernameServlet</servlet-name>
  	<display-name>ManagerUsernameServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ManagerUsernameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerPasswordServlet</servlet-name>
  	<display-name>ManagerPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ManagerPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerServlet</servlet-name>
  	<display-name>ManagerServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintServlet</servlet-name>
  	<display-name>PrintServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/employeeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewReimbursementServlet</servlet-name>
  	<url-pattern>/newreimbursementservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowPendingServlet</servlet-name>
  	<url-pattern>/showpendingservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowResolvedServlet</servlet-name>
  	<url-pattern>/showresolvedservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeViewInfoServlet</servlet-name>
  	<url-pattern>/employeeviewinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeUsernameServlet</servlet-name>
  	<url-pattern>/employeeusernameservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeePasswordServlet</servlet-name>
  	<url-pattern>/employeepasswordservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagingServlet</servlet-name>
  	<url-pattern>/managingservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOneServlet</servlet-name>
  	<url-pattern>/viewoneservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPendingServlet</servlet-name>
  	<url-pattern>/viewpendingservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewResolvedServlet</servlet-name>
  	<url-pattern>/viewresolvedservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerViewInfoServlet</servlet-name>
  	<url-pattern>/managerviewinfoservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerUsernameServlet</servlet-name>
  	<url-pattern>/managerusernameservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerPasswordServlet</servlet-name>
  	<url-pattern>/managerpasswordservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerServlet</servlet-name>
  	<url-pattern>/managerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintServlet</servlet-name>
  	<url-pattern>/printservlet</url-pattern>
  </servlet-mapping>
</web-app>
